
<div class="container">
  <div class="login_design ml-4">
    <div *ngIf="authService.afAuth.authState | async as user">
      <button class="btn-si-logout logoutBtn" (click)="logout()" aria-label="logout">Logout</button>
    </div>
  </div>
</div><div class="container-fluid">
  <div class="row d-flex flex-wrap">
  
  <div class="rules">
  <p class="gamerules">
  The object of MASTERMIND is to guess a secret code consisting of a series of 4 colored pegs. Each gues results in a feedback
  (white for a peg with the right color at the wrong location and black for a correctly placed and colored peg) narrowing
  down the possibilities of the hidden code.</p>
  <p class="gamerules">For this slightly altered version of the game, 2 players will have to play simultaneously, and the first one to guess
  the secret code will be declared winner of the game.
  </p>
  </div>
  </div>
  </div>
  <p class="goodluck">Good luck !</p>
