@font-face {
  font-family: "Iceland";
  src: url("https://fonts.googleapis.com/css?family=Iceland|Bungee");
}

.rules {
  color: white;
  font-size: 1em;
  margin: 2em;
  text-align: justify;
}

.gamerules {
  font-family: "Bungee", sans-serif;
}

.goodluck {
  color: white;
  font-size: 2em;
  text-align: center;
  font-family: "Bungee", sans-serif;
  margin-top: 2em;
}

.logoutBtn {
  position: absolute;
  right: 5%;
  top: 2.5%;
  border-radius: 7px;
  border: none;
  background-color: rgb(47, 250, 250);
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Audiowide", sans-serif;
  color: black;
}

@media (min-width: 1920px) {
    .rules {
        max-width: 1000px;
        position: absolute;
        left: 22%;
        top: 15%;
    }
    .goodluck {
        position: absolute;
        left: 44%;
        top: 35%;
    }
}

@media (min-width: 1600px) {
    .rules {
        max-width: 1000px;
        position: absolute;
        left: 18%;
        top: 15%;
    }
    .goodluck {
        position: absolute;
        left: 43%;
        top: 35%;
    }
}

@media (min-width: 280px) {
    .rules {
        max-width: 1000px;
        position: absolute;
        left: 7%;
        top: 15%;
    }
    .goodluck {
        position: absolute;
        left: 42%;
        top: 35%;
    }
}
