<html>

<body>
  
  <div class="logo">
    <img src="./assets/logo.png" class="img-fluid">
  </div>
  <div class="container">
    <div class="login_design ml-4">
      <div *ngIf="authService.afAuth.authState | async as user; else showLogin">
        <h1>Thanks for playing {{ user.displayName }} !</h1>
        <button class="btn-si-logout logoutBtn" (click)="logout()" aria-label="logout">Logout</button>
      </div>
    </div>
    <div *ngIf="authService.afAuth.authState | async as user">
      <button class="playAgainBtn" (click)="playAgain()" aria-label="playAgain">Play again</button>
    </div>
  </div>
  <div class="move">
    <ng-template #showLogin>
      <h1>Please check the rules before playing.</h1>
      <h1>Log with Google to play !</h1>
      <button class="rounded-circle" (click)="login()">
        <img class="googlebutton" src="./assets/logo-google.png" />
      </button>
    </ng-template>
  </div>
</body>

</html>
