body {
  height: 100%;
  text-align: center;
  background: transparent;
}

h1 {
  color: white;
  font-size: 1.5em;
  font-family: "Audiowide", sans-serif;
  margin-top: 1.5em;
}

.googlebutton {
  height: 80px;
  width: 80px;
  margin-bottom: 100%;
}

button {
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.rounded-circle {
  margin-top: 4em;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%);
}

.logoutBtn {
  position: absolute;
  right: 5%;
  top: 2.5%;
  border-radius: 7px;
  border: none;
  background-color: rgb(47, 250, 250);
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Audiowide", sans-serif;
  color: black;
}

.playAgainBtn {
  position: absolute;
  right: 39%;
  top: 70%;
  border-radius: 10px;
  border: none;
  background-color: rgb(47, 250, 250);
  font-size: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: "Audiowide", sans-serif;
  color: black;
}

@media (min-width : 1440px) {
  .googlebutton {
    margin-bottom: 260%;
  }
  .playAgainBtn {
    position: absolute;
    right: 41%;
    top: 50%;
    color: black;
  }
}

@media (min-width : 1920px) {
  .playAgainBtn {
    position: absolute;
    right: 42.5%;
    top: 50%;
    color: black;
  }
}
