
    body {
    
    height: 100%;
    text-align: center;
    }
    
    .login_design {
       width: 500px;
       background-color: #CCC;
        position: absolute;
        top: 50%;
       left: 30%;
       padding: 20px;
       border-radius: 10px;
    }

.btn-google {
    background-color: #dd4b39;
    background-image: url("http://vagnersantana.com/social-signin-btns/img/google.svg");
}
.btn-si {
    background-position: 1em;
    background-repeat: no-repeat;
    background-size: 2em;
    border-radius: 2em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    height: 4em;
    line-height: 1em;
    padding: 0 2em 0 2em;
    text-decoration: none;
    transition: all 0.5s;
    
}
.btn-google:hover {
    box-shadow: black 8px 8px 0px;
}

.btn-si-logout {
    background-color: #dd4b39;
    
    
    background-size: 2em;
    border-radius: 2em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    height: 4em;
    line-height: 1em;
    
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;
}
.btn-si-logout:hover {
    box-shadow: black 8px 8px 0px;
}