<html>

<body>
  <div class="logo">
    <img src="./assets/logo.png">
  </div>
  <div class="container">
    <div class="login_design ml-4">
      <h1>Log with Google to play !</h1>
      <div *ngIf="authService.afAuth.authState | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button class="btn-si-logout" (click)="logout()" aria-label="logout">Logout</button>
      </div>
    </div>
  </div>
  <div class="move">
    <ng-template #showLogin>
      <button class="rounded-circle" (click)="login()">
        <img class="googlebutton" src="./assets/logo-google.png" />
      </button>
    </ng-template>
  </div>
</body>

</html>
