<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav offset-7">
        <li class="nav-item active col-3">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link" href="#">Play</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link" href="#">Rules</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link" href="#">Ranking</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<app-login></app-login>


<router-outlet></router-outlet>
