nav li {
  list-style-type: none;
  display: inline-flex;
}

a {
  font-size: 20px;
}
  
  .nav-link {
  text-decoration: none;
  color: white;
  }
  
  .navbar {
  font-family: "Audiowide", sans-serif;
  font-size: 2.8em;
  } 
  
