.board {
    box-sizing: border-box;
    width: 30%;
    min-width: 380px;
    max-width: 450px;
    height: 85vh;
    min-height: 600px;
    box-shadow: 2px 2px 2px 5px black;
    border-radius: 3px;
    margin: 2.5px auto;
    background: linear-gradient(rgba(20, 20, 200, 1), rgba(20, 20, 200, 0.5));
}

.logoutBtn {
    position: absolute;
    right: 5%;
    top: 2.5%;
    border-radius: 7px;
    border: none;
    background-color: black;
    font-size: 1.5em;
    font-family: "Audiowide", sans-serif;
    color: white;
}